* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.main-content-wrapper {
  height: 450px;
  width: 650px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/images/pexelsbg.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1000px) {
  .main-content-wrapper {
    width: 100%;
    margin-top: 100px;
  }
}
.main-content-wrapper img {
  height: 300px;
  width: 400px;
  object-fit: contain;
  object-position: center;
  border-radius: 20px;
}
@media screen and (max-width: 1000px) {
  .main-content-wrapper img,
  .logo-div img {
    width: 100%;
  }
}
.child-element {
  height: 30px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 250px) {
  .child-element {
    width: 90%;
  }
}
.child-element h1 {
  font-size: 20px;
  font-weight: 400;
}
.second-content-wrapper {
  height: 500px;
  width: 300px;
  border-radius: 20px;
  background-image: url(assets/images/street.jpg);
  background-size: cover;
  background-position: top;
}
@media screen and (max-width: 1000px) {
  .second-content-wrapper {
    width: 100%;
  }
}
.main-parent {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .main-parent {
    flex-direction: column;
    height: 100%;
    padding: 15px;
  }
}
.top-logo {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .top-logo {
    width: 100%;
  }
}
.logo-div {
  height: 100%;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-div img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 1000px) {
  .logo-div img {
    width: 100%;
    object-fit: contain;
  }
}
.wide-banner {
  height: 400px;
  background-image: url(assets/images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.items-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .items-wrapper{
    height: 100%;
    padding: 15px;
  }
}
.inner-container {
  width: 100%;
}
.inner-col {
  width: 100%;
  height: 350px;
}
/* DRY => Don't Repeat Yourself */
.inner-col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
